<script>
    // Imports
    import { area } from "d3-shape";
    import { scaleLinear, scaleTime } from "d3-scale";
    import { extent, max } from "d3-array";

    // Global variables
    export let dataset = [];
    //let maxHeating = null;
    export let type = null;
    export let boolScaling = 1;

    // Data Selection
    function selectData(type, datafile) {
        return datafile.filter(d => d.buildingtype == type)
    }

    let data = selectData(type, dataset);
    $: data = selectData(type, dataset);

    // Scales
    let dates = data.map(d => new Date(2014, 11, d.day, d.hour));

    // within each building type
    const yScaleWithin = scaleLinear()
        .domain(extent(dataset.map(d => d.total_heating_energy)))
        .range([0.5, 15]);

    // between different building types
    const yScaleBetween = scaleLinear()
        .domain(extent(data.map(d => d.total_heating_energy)))
        .range([0.5, 12]);


    const xScale = scaleTime()
        .domain(extent(dataset.map(d => new Date(2014, 11, d.day, d.hour))))
        .range([0, 450]);

    // Line
    const violinChartWithin = area()
            .x(d=>xScale(new Date(2014, 11, d.day, d.hour)))
            .y0(d=>-yScaleWithin(d.total_heating_energy))
            .y1(d=>yScaleWithin(d.total_heating_energy))

    const violinChartBetween = area()
            .x(d=>xScale(new Date(2014, 11, d.day, d.hour)))
            .y0(d=>-yScaleBetween(d.total_heating_energy))
            .y1(d=>yScaleBetween(d.total_heating_energy))
</script>

<g height="250">
    <g transform="translate(+310,0)" dominant-baseline="central"
    style="font: 15px serif">
        <text>{type}</text>
    </g>
    <g transform="translate(-150,0)">
        {#if boolScaling == 1}
            <path d={violinChartWithin(data)} fill="black"></path>
        {:else}
            <path d={violinChartBetween(data)} fill="black"></path>
        {/if}
    </g>
</g>
