<script context="module">
  export const hydrate = false;
</script>

<script>
  import CC from "$lib/ui/CodeInline.svelte";
</script>

<h1>Project structure</h1>
<p>
  This page provides additional information about how this website is build and
  what each file does. You do not have to understand everything mentioned here
  yet, we will introduce the important concepts during the exercises as well.
  However, it is important to give you some context early on.
</p>
<p>
  This website is build using <a
    class="link-secondary"
    target="_blank"
    href="https://kit.svelte.dev/docs">SvelteKit</a
  >,
  <a class="link-secondary" target="_blank" href="https://svelte.dev/docs"
    >Svelte</a
  >, and
  <a
    class="link-secondary"
    target="_blank"
    href="https://getbootstrap.com/docs/5.0/getting-started/introduction/"
    >Bootstrap</a
  >. We provide a short description of these frameworks, but also check out
  their documentation if something is not clear. SvelteKit is a modern website
  framework based upon Svelte. Essentially, you can think of Svelte as a tool
  for building an interactive web-page and SvelteKit as a tool for building an
  entire website out of those pages. Bootstrap is a collection of styling and
  javascript functionality for common website elements that make it easy to get
  a clean look quickly. If you see us using CSS classes that are not defined in
  the Svelte component, then they are probably from bootstrap. You can find what
  they do in their documentation.
</p>

<h5>The structure</h5>
<p>
  The project contains quite a few configuration files in the root folder. You
  should not touch these files, but we will briefly explain what each file is
  for:
</p>
<ul>
  <li>
    LICENSE: <p class="mb-0">The open source license for this project.</p>
  </li>
  <li>
    README.md <p class="mb-0">
      A markdown file describing the project and giving insturctions on how to
      use it.
    </p>
  </li>
  <li>
    package.json <p class="mb-0">
      Configures npm. Specifies the dependencies and tells npm what to do when
      we want to build the website.
    </p>
  </li>
  <li>
    package-lock.json <p class="mb-0">
      This file is automatically generated by npm and keeps track of all
      dependencies that are installed.
    </p>
  </li>
  <li>
    .gitignore <p class="mb-0">
      Configures which files git should not include in the repository.
    </p>
  </li>
  <li>
    svelte.config.js <p class="mb-0">
      Configures SvelteKit to run on specific hosting providers.
    </p>
  </li>
  <li>
    jsconfig.json <p class="mb-0">
      Tells SvelteKit where to look for our source files.
    </p>
  </li>
  <li>
    eslintrc.cjs <p class="mb-0">
      Configures the eslintrc linter, so it can give us warnings about our code.
    </p>
  </li>
  <li>
    .prettierrc <p class="mb-0">
      Configures prettier so it can automatically format our code.
    </p>
  </li>
  <li>
    .npmrc <p class="mb-0">
      Configures npm to use strict package versions for the dependencies.
    </p>
  </li>
</ul>

<p>
  In addition, two folders will be generated when you are working on the
  project.
  <CC code="node_modules" /> contains the javascript dependencies and <CC
    code=".svelte-kit"
  />
  contains internal files of SvelteKit. If you ever run into an issue where SvelteKit
  is giving errors about files you have moved, you can solve that by removing the
  <CC code=".svelte-kit" /> folder and running <CC
    language="shell"
    code="$: npm run build"
  />.
</p>

<p>
  Finally, the two folders that matter: <CC code="static" /> and <CC
    code="src"
  />. <CC code="static" /> contains the files that should be accesible on the website
  directly, such as the favicon that is shown in the browser's tab. Use this folder
  if you want to be able to acces a file (f.i. <CC code="my_file.json" />)
  within a web-page. Put the file in the static folder and load it from the URL <CC
    code="/my_file.json"
  />.
</p>
<p>
  The <CC code="src" /> folder contains all the files that make up the website.
</p>
<ul>
  <li>
    <CC code="src/lib" />
    <p>
      This folder contains all javascript functions and Svelte components that
      are intended to be re-used across the site. You can import files in this
      folder using the <CC code="$lib" /> short-hand notation. For example, the
      <CC code="CodeInline" /> component is located at
      <CC code="src/lib/ui/CodeInline.svelte" /> and can be imported using
      <CC
        language="javascript"
        code="import CC from '$lib/ui/CodeInline.svelte';"
      />
    </p>
  </li>
  <li>
    <CC code="src/routes" />
    <p>
      This folder contains the pages of the website. Basically, each
      <CC code=".svelte" /> file in <CC code="src/routes/" /> is a page on the website.
      The location of the the file within relative to the folder specifies the URL
      of the page. For instance, <CC
        code="src/routes/instructions/initial_setup.svelte"
      /> is accesible at
      <a
        class="link-secondary"
        target="_blank"
        href="https://datavis-exercises.vercel.app/instructions/initial_setup"
        >https://datavis-exercises.vercel.app/instructions/intitial_setup</a
      >. Files called <CC code="index.svelte" /> are special, they are accesible
      at the URL of the folder they are located in. For instance, <CC
        code="src/routes/week_0/index.svelte"
      /> has URL
      <a
        class="link-secondary"
        target="_blank"
        href="https://datavis-exercises.vercel.app/week_0"
        >https://datavis-exercises.vercel.app/week_0</a
      >. The <CC code="src/__layout.svelte" /> is also special, it specifies the
      parts of the website that are the same for all files. Finally, sometimes you
      may want to write components specifically for one web-page, and they cannot
      be re-used by other pages. In that case, you can prefix their name with an
      underscore to tell SvelteKit those files are not entire pages it can display
      directly.
    </p>
    <p>
      SvelteKit also supports endpoints, which are javascript files located
      under
      <CC code="src/routes" />. These files specify functions that run on the
      server and return data. They can be used to access databases without
      leaking credentials to the user. You will not need them during this
      course.
    </p>
  </li>
</ul>
