<script>
    const student = { name: 'Maysoun'};
    console.log(student);
    const myList = ['books', 'movies', 'food'];
    console.log(myList[0]);
    console.log(myList[1]); 
    console.log(myList[2]);
</script>
<p> My name {Object.values(student)}  and these are some of my favourite things:
{Object.values(myList)} </p>
