<script>
  // Dependencies
  import { format } from "d3-format";
  import { select } from "d3-selection";
  import { axisBottom, axisLeft } from "d3-axis";
  import { schemeTableau10 } from "d3-scale-chromatic";
  import { scaleLog, scaleLinear, scaleOrdinal } from "d3-scale";
  
  // Properties
  export let data = [];
  const continents = ["eu", "asia", "amerika", "africa"];
  
  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
  // Scales
  const scale_x = scaleLog().domain([300, 150000]).range([0, innerWidth]);
  const scale_y = scaleLinear().domain([0, 90]).range([innerHeight, 0]);
  const scale_r = scaleLinear().range([5, 40]).domain([2000, 1400000000]);
  const scale_c = scaleOrdinal(schemeTableau10).domain(continents);
  
  // Axes
  const xAxis = (node) =>
  axisBottom(scale_x).tickValues([400, 4000, 40000]).tickFormat(format("$"))(
  select(node)
  );
  const yAxis = (node) => axisLeft(scale_y)(select(node));
  </script>
  
  <svg viewBox="0 0 {width} {height}" style="max-width: {width}px ">
  <g transform="translate({margin.left}, {margin.top})">
  <!-- Scatterplot -->
  
  {#each data as element}
  <circle
  class="dot"
  cx={scale_x(+element.income)}
  cy={scale_y(+element.life_exp)}
  r={scale_r(+element.population)}
  fill={scale_c(element.continent)}
  >
  <title>{element.country}</title>
  </circle>
  {/each}
  <!-- Axes -->
  <g use:xAxis transform="translate(0, {innerHeight})">
  <text class="axis-label" x={innerWidth / 4} y={margin.bottom - 18}>
  gdp per capital
  </text>
  </g>
  <g use:yAxis>
  <text
  class="axis-label"
  x={-innerHeight / 4}
  y={-margin.left + 17}
  transform="rotate(-90)"
  >
  total life expectancy
  </text>
  </g>
  <!-- Labels -->
  <text class="title" x={innerWidth / 4} y={0}>gap scatter-plot</text>
  </g>
  </svg>
  
  <style>
  .dot {
  opacity: 0.5;
  }
  .axis-label {
  font-size: 2.25em;
  text-anchor: middle;
  vertical-align: bottom;
  fill: rgb(2, 2, 87);
  }
  .title {
  font-size: 1.75em;
  text-anchor: middle;
  }
  </style>