<script>

let counting = 0

</script>
<div>
<button class="btn btn-primary" on:click={() => (counting = counting+1)}>
clicking {counting} times
</button>
<button class="btn btn-danger" on:click={() => (counting = 0)}>
resetting it
</button>
</div>
