<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
  // Arrays
  const points = [
  innerWidth / 2 - 90,
  innerWidth / 2 - 49,
  innerWidth / 2 - 10,
  innerWidth / 2 + 80,
  innerWidth / 2 + 29
  ];

  const startColor = "orange";
  const startOpacity = 0.8;

  let circleData = [
  {
  id: "circle-1",
  x: points[0],
  y: innerHeight / 4,
  color: startColor,
  opacity: startOpacity
  },
  {
  id: "circle-2",
  x: points[1],
  y: innerHeight / 4,
  color: startColor,
  opacity: startOpacity
  },
  {
  id: "circle-3",
  x: points[2],
  y: innerHeight / 4,
  color: startColor,
  opacity: startOpacity
  },
  {
  id: "circle-4",
  x: points[3],
  y: innerHeight / 4,
  color: startColor,
  opacity: startOpacity
  },
  {
  id: "circle-5",
  x: points[4],
  y: innerHeight / 4,
  color: startColor,
  opacity: startOpacity
  }
  ];

  let currentCircleIndex = circleData.length;

  const intervalId = setInterval(() => {
  console.log(`currentCircleIndex: ${currentCircleIndex}`);
  if (currentCircleIndex == -1) {


  clearInterval(intervalId);
  } else {
 
  currentCircleIndex--;
  }
  }, 1000);
  

  const opacityfunction = (arrayIndex) => {
  circleData[arrayIndex].opacity = 1;
  };
  

  const colorfunction = () => {
  for (var i = 0; i < circleData.length; i++) {
  circleData[i].color = "cyan";
  }
  };
  
  $: {
  if (currentCircleIndex < circleData.length && currentCircleIndex >= 0) {
  opacityfunction(currentCircleIndex);
  }
  
  if (currentCircleIndex == -1) {
  colorfunction();
  }
  }
  </script>
  
  <svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
  
  {#each circleData as circle}
  <circle
  cx={circle.x}
  cy={circle.y}
  r="7"
  fill={circle.color}
  opacity={circle.opacity}
  />
  {/each}
  </g>
  </svg>