<script>
  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  export let data=[];
  import {scaleLinear, scaleOrdinal} from 'd3-scale';
  import {axisLeft} from 'd3-axis';
  import {axisBottom} from 'd3-axis';
  import{select} from 'd3-selection';
  import {schemeDark2} from 'd3-scale-chromatic';
  import { extent } from 'd3-array';
  const scaleX = scaleLinear().domain([0,4500]).range([0,innerWidth]);
  const scaleY = scaleLinear().domain([45,20]).range([0,innerHeight]);
  const axix = axisBottom(scaleX);
  const axiy = axisLeft(scaleY);
  function botaxi(dom){
    axix(select(dom))
  };
  function leftaxi(dom){
    axiy(select(dom))
  };
  const catScale = scaleOrdinal(schemeDark2).domain(extent(data, d=> d.continent));
</script>

<svg viewBox="0 0 {width+20} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
      {#each data as dp}
      <circle cx={scaleX(+dp.income)} cy={scaleY(+dp.life_exp)} r=5 fill={catScale(+dp.continent)}/>
      {/each}
      <text x=-30 y={innerHeight/2+50} transform="rotate(-90,-30,{innerHeight/2+50})">Life expectancy</text>
      <text X={innerWidth/2+15} y={innerHeight+40}>GDP Per CAPITA</text>
      <text x=120 y=-10 font-size=36>Gapminder ScatterPlot</text>
      <text x={innerWidth/2+175} y={innerHeight-19} font-size=25 opacity=0.5> Year 1800</text>
  </g>
  <g use:botaxi transform={`translate(${margin.left},${innerHeight+margin.top})`}/>
  <g use:leftaxi transform={`translate(${margin.left},${margin.top})`}/>
</svg>

<style>
  .bold{
    font-weight:bold;
  }
  .label{
    font:bold 30px sans-serif;
  }
</style>

