<script>
  const width = 100;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
</script>

<svg viewBox="0 0 800 100" >
  <g transform="translate(5, 5)">
    <circle cx="395" cy="45" r="20" fill="teal"></circle></g></svg>


<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
