<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];
</script>
<svg viewBox="0 0 800 100">
  <g transform="translate(5,5)">
    <circle cx="237" cy="45" r="10" fill="steelblue">

    </circle><circle cx="475" cy="45" r="10" fill="steelblue">

    </circle><circle cx="614" cy="45" r="10" fill="steelblue"></circle>
    <circle cx="667" cy="45" r="10" fill="steelblue"></circle>
    <circle cx="753" cy="45" r="10" fill="steelblue"></circle>
  </g></svg>

   
