<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];
</script>

<svg viewBox="0 0 800 100">
  <g transform="translate(5,5)">
    <circle cx="237" cy="35" r="10" fill="steelblue"></circle>
    <circle cx="475" cy="35" r="10" fill="steelblue"></circle>
    <circle cx="614" cy="35" r="10" fill="steelblue"></circle>
    <circle cx="667" cy="35" r="10" fill="steelblue"></circle>
    <circle cx="753" cy="35" r="10" fill="steelblue"></circle>
    <g transform="translate(0, 70)"><text x="395" y="25" text-anchor="middle" fill="currentcolor">x label</text></g></g></svg>
