<script>
  
import {scaleLinear} from 'd3-scale';
import {schemeDark2} from 'd3-scale-chromatic';
import {scaleOrdinal} from 'd3-scale';
import {extent} from 'd3-array';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  const ScaleX=scaleLinear().domain([0,10]).range([0,innerWidth]);
  const ScaleY=scaleLinear().domain([3,0]).range([0,innerHeight]);
  const catScale=scaleOrdinal(schemeDark2).domain(extent(values, d=> d.category));

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <line x1=0 x2={innerWidth} y1={innerHeight} y2={innerHeight} stroke="black" />

    {#each values as m}

    <line x1={ScaleX(m.x)} x2={ScaleX(m.x)} y2={ScaleY(m.y)} y1={innerHeight} stroke="black" />
    <circle cx={ScaleX(m.x)} cy={ScaleY(m.y)} style="fill: {catScale(m.category)};" r=7 />
    <text x={ScaleX(m.x)} y={ScaleY(m.y)-10} class="valuelabel">{m.y}</text>

    {/each}

  </g>

</svg>


<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>


 

 
 


  
  
