<script>

import {scaleLinear} from 'd3-scale';
import {axisLeft} from 'd3-axis';
import {scaleBand} from 'd3-scale';
import {axisBottom} from 'd3-axis';
import {select} from 'd3-selection';

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  const ScaleX = scaleBand().range([0,innerWidth]).padding(0.3).domain(data.map(d => d.service));
  const ScaleY = scaleLinear().domain([3,0]).range([0,innerHeight]);
  const axix = axisBottom(ScaleX);
  const axiy = axisLeft(ScaleY);
  
  function botaxi(dom){
    axix(select(dom))
  }
  function leftaxi(dom){
    axiy(select(dom))
  }

</script>



<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g color="black" transform={`translate(${margin.left}, ${margin.top})`} font-size="15" font-family="sans-serif">
    
    
    {#each data as d}
    <rect x={ScaleX(d.service)} y={ScaleY(d.viewers)} width={ScaleX.bandwidth()} height={innerHeight-ScaleY(d.viewers)} fill="orange" />
    {/each}

    <text transform="rotate(-90)" x={-10*margin.right -2*margin.left+10} y={margin.top-45} font-size=15 fill="currentcolor" class="label1">Amount of viewers in million</text>

  </g>
  
  <g use:botaxi transform={`translate(${margin.left},${innerHeight+margin.top})`} />

  <g use:leftaxi transform={`translate(${margin.left},${margin.top})`} />

</svg>

